---
import Layout from "../layouts/Layout.astro";

import Projects from "../components/Projects.astro";
import ContactForm from "../components/ContactForm.vue";
import AboutMe from "../components/AboutMe.astro";
// import MobileMenu from "../components/MobileMenu.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";

import SectionContainer from "../components/SectionContainer.astro";
import CalendarTimeIcon from "../components/icons/CalendarTime.astro";
import CodeIcon from "../components/icons/Code.astro";
import UserIcon from "../components/icons/User.astro";
import DownloadIcon from "../components/icons/Download.astro";
---

<Layout
  title="Porfolio de briandev - Desarrolador / Programador Fullstack"
  description="Desarrollador fullstack con +5 a침os de experiencia en la creaci칩n de aplicaciones web y m칩viles 칰nicas. Desde Repu패blica Dominicana 游뾇릖."
>
  <main>
    <section
      class="flex flex-col-reverse md:flex-row pt-10 mx-auto md:max-w-7xl sm:max-w-full px-5 mb-10"
    >
      <div class="flex-grow my-auto md:w-1/2 justify-center">
        <h2 class="mb-4 text-4xl font-normal text-white text-left text-pretty">
          <code>&lt;Hola mundo/&gt;</code>
          Soy <span class="font-bold">Brian</span>游녦
        </h2>
        <p class="font-light text-gray-300 sm:text-gray-300 text-left text-2xl">
          Desarrollador fullstack con <span class="text-[#F2AB41]"
            >+5 a침os de experiencia</span
          > en la creaci칩n de aplicaciones web y m칩viles 칰nicas. Desde Repu패blica
          Dominicana 游뾇릖.
        </p>

        <nav class="text-white flex gap-4 pt-2 flex-wrap mt-3">
          <SocialPill
            href="https://www.linkedin.com/in/briannys-mendez-polanco-60061018b/"
          >
            <LinkedInIcon class="md:size-6 size-4" />
            LikedIn
          </SocialPill>
          <SocialPill href="https://github.com/brianpolanco25">
            <GitHubIcon class="md:size-6 size-4" />
            GitHub
          </SocialPill>
          <SocialPill href="mailto:brianmpolanco@gmail.com">
            <MailIcon class="md:size-6 size-4" />
            brianmpolanco@gmail.com
          </SocialPill>
        </nav>
      </div>
      <div class="w-full md:w-1/2">
        <div class="my-auto">
          <img
            src="/brian_avatar.png"
            alt="Avatar de Brian"
            class="lg:w-full w-2/3 mx-auto rounded-full"
          />
        </div>
      </div>
    </section>

    <SectionContainer id="projects">
      <div class="flex items-center gap-x-3 pb-5">
        <CodeIcon class="size-8 text-[#0ea5e9]" />
        <h2 class="font-semibold text-[#0ea5e9] text-3xl">Proyectos</h2>
      </div>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <div class="flex items-center gap-x-3 pb-5">
        <UserIcon class="size-8 text-[#0ea5e9]" />
        <h2 class="font-semibold text-[#0ea5e9] text-3xl">Sobre m칤</h2>
      </div>
      <AboutMe />
      <nav class="text-white flex gap-4 pt-2 flex-wrap mt-3">
        <SocialPill
          href="https://www.linkedin.com/in/briannys-mendez-polanco-60061018b/"
        >
          <DownloadIcon class="md:size-6 size-4" />
          Descargar CV
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <div class="flex items-center gap-x-3 pb-5">
        <CalendarTimeIcon class="size-8 text-[#0ea5e9]" />
        <h2 class="font-semibold text-[#0ea5e9] text-3xl">Experiencia</h2>
      </div>
      <Experience />
    </SectionContainer>

    <SectionContainer id="contact">
      <h2 class="text-[#0ea5e9] font-semibold text-3xl">
        쯊e ha gustado lo que has visto?
      </h2>
      <p class="text-gray-200 text-2xl mb-5">춰Pues trabajemos juntos! 游뗵</p>

      <nav class="text-white flex gap-4 pt-2 flex-wrap mt-3">
        <SocialPill
          href="https://www.linkedin.com/in/briannys-mendez-polanco-60061018b/"
        >
          <LinkedInIcon class="md:size-6 size-4" />
          LikedIn
        </SocialPill>
        <SocialPill href="https://github.com/brianpolanco25">
          <GitHubIcon class="md:size-6 size-4" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:brianmpolanco@gmail.com">
          <MailIcon class="md:size-6 size-4" />
          brianmpolanco@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <!-- <MobileMenu /> -->
  </main>
</Layout>
