---
import SocialPill from "../components/SocialPill.astro";
---

<div class="flex lg:flex-row flex-col-reverse items-center">
  <div class="flex-grow my-auto text-gray-200 text-lg text-pretty">
    <p class="mb-5">
      Mi nombre real es <span class="text-[#F2AB41]">Briannys Méndez</span>
      (mejor conocido como Brian por mis amigos y personas que se confunden mucho
      con mi nombre real 😅). Cuento con más de 5 años de experiencia creando soluciones
      innovadoras para empresas de diferentes sectores, por lo que me adapto muy
      bien a los cambios y a los nuevos retos.
    </p>

    <p class="mb-5">
      Mi acercamiento inicial a la tecnología fue a través de la
      <span class="text-[#F2AB41]">Electrónica</span> y la
      <span class="text-[#F2AB41]">Mecatrónica</span>, lo que me ha llevado a
      participar en una amplia variedad de proyectos a lo largo de mi carrera.
      ¡La tecnología es mi terreno de juego y estoy listo para enfrentar
      cualquier desafío!
    </p>
  </div>

  <img
    src="/brian_foto_2.png"
    class="rounded-full border border-gray-400 mt-8 lg:mt-0 md:size-80 size-60 mb-4"
    alt="Foto de Briannys Méndez (Briand)"
  />
</div>
