---

---

<div class="flex lg:flex-row flex-col-reverse items-center">
  <div class="flex-grow my-auto text-gray-200 text-lg text-pretty">
    <p class="mb-5">
      Mi nombre real es <span class="text-blue-200">Briannys M茅ndez</span>
      (mejor conocido como Brian por mis amigos y personas que se confunden mucho
      con mi nombre real ). Cuento con m谩s de 5 a帽os de experiencia creando soluciones
      innovadoras para empresas de diferentes sectores, por lo que me adapto muy
      bien a los cambios y a los nuevos retos.
    </p>

    <p class="mb-5">
      Mi verdadera pasi贸n es la programaci贸n en todas sus formas, desde el
      fascinante mundo del IoT y la rob贸tica. Mi acercamiento inicial a la
      tecnolog铆a fue a trav茅s de la electr贸nica y la mecatr贸nica, lo que me ha
      llevado a participar en una amplia variedad de proyectos a lo largo de mi
      carrera. 隆La tecnolog铆a es mi terreno de juego y estoy listo para
      enfrentar cualquier desaf铆o!
    </p>
  </div>
  <img
    src="/brian_foto.png"
    class="rounded-full border border-gray-400 mt-8 lg:mt-0 md:size-80 size-60 mb-4"
    alt="Foto de Briannys M茅ndez (Briand)"
  />
</div>
