---

---

<!-- component -->
<footer
  class="text-gray-700 body-font mt-10 py-2 px-4 mx-auto max-w-5xl lg:pt-16 lg:px-6bg-[url('/public/background_in_space.gif')]"
>
  <p class="text-gray-200 text-center">Hecho con ❤️ por BrianDev</p>
</footer>
